/************************************************** DEFAULT ***********************************/
body {
    background-color: rgb(230, 230, 230)
}

h1 {
    font-size: 40px;
    font-weight: bolder;
}

h2 {
    font-size: 30px;
    font-weight: bolder;
}

h3 {
    font-size: 25px;
    font-weight: bolder;
}

h4 {
    font-size: 20px;
    font-weight: bold;
}



/*************************************************** NAV ************************************/

nav.grid {
    background-color: #6cc091;
    color: white;
}


a {
    text-decoration: none;
    color: inherit;
}

@media (min-width: 767px) {
    .nav-item {
        text-align: center;
        font-size: 20px;
        height: 75px;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
}

@media (max-width: 767px) {
    .nav-item {
        text-align: center;
        font-size: 20px;
    }
}

/***** NAV FORM **********/

@media (min-width: 767px) {
    nav form {
        margin: 0;
        display: flex;
        width: 100%;
    }
    nav a {
        margin: 0 5%;
    }
}

@media (max-width: 767px) {
    nav input {
        margin: 20px 0;
    }
}

/************************************************** Prices *******************************************************/

.unite {
    font-size: 50px;
}

.centime {
    font-size: 25px;
    padding-right: 10px;
}

.price {
    display: flex;
    align-items: center;
    color: rgb(0, 192, 243);
    line-height: 1em;
    justify-content: flex-start;
}


.ancient-prix {
    font-size: 0.8em;
    text-decoration: line-through;
    line-height: 1em;
}

.reduc {
    color: black;
    height: 3em;
    width: 3em;
    font-weight: bolder;
    border-radius: 50%;
    background-color: #F7E900;
    display: flex;
    align-items: center;
    justify-content: center;
}

.eco-taxe {
    color: #006f9a;
    font-size: 0.75em;
    font-style: italic;
    line-height: 1em;
}

.no-reduc {
    color: transparent;
    height: 3em;
    width: 3em;
    background-color: transparent;
}

/*************************************** Pagination ************************************************/
.pagination {
    display: flex;
    font-weight: bolder;
    font-size: 1.2em;
    padding: 10px 0;
    justify-content: center;
}

.pagination .pagination-number {
    border-radius: 5px;
    color: #1390be;
    padding: 0.1em;
    display: flex;
    width: 1.5em;
    height: 1.5em;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

.pagination .pagination-number a:hover {
    color: black;
}

.pagination i {
    color: #1390be;
}

.pagination .active {
    background-color: #1390be;
    color: white !important;
}


/****************************************** Etapes *********************************************/
.etape .etape-item span:nth-child(2) {
    padding-left: 30px;
}

.etape li {
    display: inline;
}


@media (min-width: 767px) {
    .etape ul {
        display: flex;
        justify-content: space-around;
    }

    .etape .etape-item {
        display: flex;
    }

    .etape {
        background-color: white;
        font-size: 2em;
        padding: 10px 0;
    }

}

@media (max-width: 767px) {
    .etape ul {
        display: table;
        margin: auto;
    }
    .etape {
        background-color: white;
        font-size: 2em;
        padding: 10px 0;
        display: flex;
        flex-direction: column;
    }

    .etape .etape-item {
        display: flex;
        margin-top: 10px;
    }
}

/********************************************* Circle *********************************************/

.circle-blue {
    height: 1.7em;
    width: 1.7em;
    font-weight: bolder;
    border-radius: 50%;
    background-color: #1390be;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.circle-grey {
    height: 1.7em;
    width: 1.7em;
    font-weight: bolder;
    border-radius: 50%;
    background-color: rgb(230, 230, 230);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}


/********************************************** FOOTER **********************************************/

footer {
    background-color: #6cc091;
    color: white;
}

footer > div {
    display: flex;
    justify-content: space-between;
    margin: 0 5%;
}

footer #social {
    width: 30%;
    font-size: 30px;
}



footer table {
    margin: 0;
    padding: 0;
    width: 60%;
    border: none;
}

footer table tbody tr {
    border: none;
}

footer table thead {
    border: none;
}

footer table tbody tr td {
    padding: 0;
}

footer table thead tr td {
    text-align: center;
}


footer a {
    text-decoration:  none;
    color: inherit;
}

footer span {
    display: block;
    text-align: center;
    padding: 10px 0;
}



