/*************************************************** NAV ************************************/

h1 {
    font-size: 40px;
    font-weight: bolder;
}

h2 {
    font-size: 30px;
    font-weight: bolder;
}

h3 {
    font-size: 25px;
    font-weight: bolder;
}

h4 {
    font-size: 20px;
    font-weight: bold;
}



nav.grid {
    background-color: #6cc091;
    color: white;
}


a {
    text-decoration: none;
    color: inherit;
}

@media (min-width: 767px) {
    .nav-item {
        text-align: center;
        font-size: 20px;
        height: 75px;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
}

@media (max-width: 767px) {
    .nav-item {
        text-align: center;
        font-size: 20px;
    }
}

/***** NAV FORM **********/

@media (min-width: 767px) {
    nav form {
        margin: 0;
        display: flex;
        width: 100%;
    }
    nav a {
        margin: 0 5%;
    }
}

@media (max-width: 767px) {
    nav input {
        margin: 20px 0;
    }
}

/************************************** INTRO ********************************************/

#main {
}

.intro-container {
    padding: 75px 20%;
    min-height: 700px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: linear-gradient(
            rgba(255, 255, 255, 0.30),
            rgba(255, 255, 255, 0.30)),
    url("../image/bg2.jpg");
}

/********** intro-item *****************/

@media (min-width: 767px) {
    .intro-item {
        border-right: 2px solid rgba(0, 0, 0, 0.2);
        padding: 0 3%;
        text-align:  center;
        color: white;
        font-size: 15px;
        height: 200px;
    }

    .intro-item:last-child {
        border: none;
    }
}

@media (max-width: 767px) {
    .intro-item {
        text-align:  center;
        color: white;
        font-size: 15px;
        height: 200px;
    }
}



.intro-container h1 {
    text-align: center;
    color: white;
    font-weight: bolder;
    margin-bottom: 75px;
}

.intro-container h2 {
    text-align: center;
    color: white;
    font-weight: bolder;
    margin: 0;
}


.intro-item i {
    color:  #6cc091;
    display:  block;
    font-size: 50px;
}

/******************************************* PROMOTIONS ****************************************/


@media (min-width: 767px) {
    #promo {
        padding-top: 30px;
        padding-bottom: 50px;
        background-image:
            linear-gradient(
                rgba(230, 230, 230, 0.2),
                rgba(230, 230, 230, 1),
                rgba(230, 230, 230, 1)
        ),
                url("../image/bg_promo.jpg");
        background-size: contain;
        background-repeat: no-repeat;
    }

    .promo-container {
        background-color: white;
        width: 70%;
        margin: auto;
        margin-top: 40px;
    }
}

@media (max-width: 767px) {
    #promo {
        padding-top: 30px;
        background-image:
                linear-gradient(
                        rgba(230, 230, 230, 0.2),
                        rgba(230, 230, 230, 1),
                        rgba(230, 230, 230, 1)
                ),
                url("../image/bg_promo_mobile.jpg");
        background-size: contain;
        background-repeat: no-repeat;
    }
    .promo-container {
        background-color: white;
        width: 100%;
        margin: auto;
        margin-top: 40px;
    }
}



#promo h1 {
    margin-left: 25%;
    margin-bottom: 5px;
    color: #00474e;
    font-weight: bolder;
}

#promo h2 {
    margin: 0 25%;
    color: #04ab5e;
    font-weight: bolder;
}

.promo-item {
    text-align: center;
    padding: 5% 7%;
    min-height: 400px;
}

#promo .price span {
    color: red;
    font-size: 25px;
}

/********************************************** FOOTER **********************************************/

footer {
    background-color: #6cc091;
    color: white;
}

footer > div {
    display: flex;
    justify-content: space-between;
    margin: 0 5%;
}

footer #social {
    width: 30%;
    font-size: 30px;
}



footer table {
    margin: 0;
    padding: 0;
    width: 60%;
    border: none;
}

footer table tbody tr {
    border: none;
}

footer table thead {
    border: none;
}

footer table tbody tr td {
    padding: 0;
}

footer table thead tr td {
    text-align: center;
}


footer a {
    text-decoration:  none;
    color: inherit;
}

footer span {
    display: block;
    text-align: center;
    padding: 10px 0;
}



.reduc {
    color: black;
    height: 3em;
    width: 3em;
    font-weight: bolder;
    border-radius: 50%;
    background-color: #F7E900;
    display: flex;
    align-items: center;
    justify-content: center;
}